@import '../../../variables.scss';

$box-shadow-params: 0px 0px 5px;

.root {
    position: relative;
    
    display: flex;
    flex-direction: column;

    span {
        position: absolute;
        top: 10px;
        left: $left-distance;
        z-index: 1;
        font-size: 0.7em;
        line-height: 0.7em;
        color: #6C6472;
    }

    input, select {
        height: 60px;
        padding-top: 15px;
    }

    textarea {
        height: 140px;
        resize: none;
        padding-top: 25px;
    }

    input, textarea, select {
        
        background-color: transparent;

        font-size: 16px;
        line-height: 130%;
        letter-spacing: -0.025em;

        margin-bottom: 10px;
        width: 560px;
        
        position: relative;
        padding-left: $left-distance;

        border-radius: 3px;
        border: 2px solid #ddd;

        transition: 0.25s ease-in-out;
        transition-property: border-color, box-shadow;
    }

    input:focus, textarea:focus, select:focus {
        box-shadow: $box-shadow-params darken($main-dark-color, 50%);
    }

    input.valid, textarea.valid, select.valid {
        border-color: $main-green-color;
        box-shadow: $box-shadow-params $main-green-color;
    }
    
    input.invalid, textarea.invalid, select.invalid {
        border-color: #EA386D;
        box-shadow: $box-shadow-params #EA386D;
    }
}

.root.shake-animation {
    animation: shakeAnimation 0.5s linear 1 forwards;
}


@keyframes shakeAnimation {

    $base-shake-offset: 7px;

    0% {
        transform: translate(0)
    }

    10% {
        transform: translate($base-shake-offset)
    }

    20% {
        transform: translate(-2 * $base-shake-offset)
    }

    30% {
        transform: translate(3 * $base-shake-offset)
    }

    40% {
        transform: translate(-4 * $base-shake-offset)
    }

    50% {
        transform: translate(0)
    }

    60% {
        transform: translate(4 * $base-shake-offset)
    }

    70% {
        transform: translate(-3 * $base-shake-offset)
    }

    80% {
        transform: translate(2 * $base-shake-offset)
    }

    90% {
        transform: translate(-1 * $base-shake-offset)
    }

    100% {
        transform: translate(0)
    }
}