@import '../../../variables.scss';

ul {
    display: flex; 
    justify-content: space-between;
    align-items: center;
    height: 40px;

    li {
        a {
            margin-right: 45px;
            color: white;
            font-weight: bold;
            font-size: 14px;
        }
    }

    li:last-child {
        a.bt-btn {
            color: $main-dark-color;
            margin-left: 15px;
            margin-right: 0;
        }
    }
}