<header>
  <app-header-logo></app-header-logo>
  
  <button class="navbar-toggler-button {{ showMenu ? 'toggled' : '' }}" (click)="toggleMenu()">
    <div class="menu-bar"></div>
    <div class="menu-bar"></div>
    <div class="menu-bar"></div>
  </button>
  
  <nav class="{{ showMenu ? 'visible' : '' }}">
    <ul>
      <li>
        <a href="">A RITS</a>
      </li>
      
      <li>
        <a href="">NOSSOS VALORES</a>
      </li>
      
      <li>
        <a href="" class="bt-btn">VAGAS ABERTAS</a>
      </li>
    </ul>
  </nav>
</header>