<div class="application-container">
    <span>Nome: </span> <span>{{ applicationData.nomeCompleto }}</span>
    <span>Telefone: </span> <span>{{ applicationData.telefone }}</span>
    <span>Email: </span> <a [href]="applicationData.email">{{ applicationData.email }}</a>
    <span>Github: </span> <a [href]="applicationData.githubURL">{{ applicationData.githubURL }}</a>
    <span>LinkedIn: </span> <a [href]="applicationData.linkedinURL">{{ applicationData.linkedinURL }}</a>
    <span>Nível de inglês: </span> <span>{{ applicationData.english_level.nivelIngles }}</span>
    <span>Pretensão salarial: </span> <span>R$ {{ applicationData.pretensaoSalarial }}</span>
    <span>Currículo: </span> <button class="download-button" (click)="downloadResume()"><i
            class="fas fa-link"></i>Download</button>

    <div *ngIf="applicationData.coverLetter">
        <span>Motivação: </span> <span style="font-size: 12px;">{{ applicationData.coverLetter }}</span>
    </div>

    <span>Status: </span> <span>{{ applicationData.application_status.status.toUpperCase() }}</span>

    <div class="buttons-container"
        *ngIf="applicationData.application_status.status === 'processamento' || applicationData.application_status.status === 'pendente'">

        <hr>



        <h3>Alterar status</h3>
        <button (click)="setStatus('2')" *ngIf="applicationData.application_status.status != 'processamento'"
            class="processamento">Em processamento</button>
        <button (click)="setStatus('3')" *ngIf="applicationData.application_status.status != 'aceito'"
            class="aceitar">Aceitar</button>
        <button (click)="setStatus('4')" *ngIf="applicationData.application_status.status != 'rejeitado'"
            class="rejeitar">Rejeitar</button>
    </div>
</div>