@import '../variables.scss';

#admin {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

header {
    background-color: $main-purple-color;
    padding: 15px;
    display: flex;
    justify-content: space-around;

    button {
        padding: 10px;
        cursor: pointer;
        background-color: $main-red-color;
        font-size: 1.25em;
        border-radius: 10px;
        border-style: none;
        color: white;
        box-shadow: 0px 1px 5px white;
        i {
            margin-right: 5px;
        }
    }
}

.status-filter-selection {
    border: 2px solid $main-dark-color;
    display: flex;
    justify-content: center;
    width: 400px;
    margin-top: 30px;
    padding: 10px;
    align-self: center;

    
    select {
        margin-left: 20px;
    }
}

.applications-root {
    padding: 25px;
    display: flex;
    flex-flow: wrap;
}

h3 {
    margin-top: 100px;
    margin-bottom: 100px;
    color: $main-red-color;
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px $main-dark-color;
    text-align: center;
}

app-application-entry {
    width: 30%;
    // flex-grow: 0;
}

app-footer {
    display: flex;
    justify-content: space-around;
}