<section id="admin">
  <div class="container">
    <header>

      <app-header-logo></app-header-logo>

      <div style="color: white">
        <span *ngIf="user">Bem vindo, <span>{{ user.name }}</span></span>
        <button (click)="logoutButtonClick()"><i class="fas fa-power-off"></i> Sair</button>
      </div>
      

    </header>

    <div class="status-filter-selection">
      <label>Filtro de status das aplicações</label>
      <select (change)="filterChanged($event)">
        <option value="">Todas</option>
        <option value="pendente">Pendente</option>
        <option value="processamento">Em processamento</option>
        <option value="rejeitado">Rejeitado</option>
        <option value="aceito">Aceito</option>
      </select>
    </div>


    <div class="applications-root" *ngIf="!fetchingApplications && applications && applications.length > 0">
      <app-application-entry (statusButtonClick)="updateApplicationStatus($event)"
        *ngFor="let application of applications" [applicationData]="application"></app-application-entry>
    </div>

    <app-loading-spinner *ngIf="fetchingApplications"></app-loading-spinner>

    <h3 *ngIf="!fetchingApplications && !applications">
        Não foi possível conectar com o servidor, tente novamente. Se o problema persistir, tente mais tarde.
    </h3>

    <h3 *ngIf="!fetchingApplications && applications.length === 0">
      Nenhuma aplicação foi encontrada para o filtro selecionado
    </h3>

    <app-footer></app-footer>
  </div>
</section>