<section id="hero">
  <div class="container">
    
    <app-nav-bar></app-nav-bar>

    <div>
      <h4>Natal/RN - BRASIL</h4>
      <h1>Desenvolvedor PHP</h1>
    </div>
    
    
    <a href="#" class="bt-btn apply-now">CANDIDATE-SE</a>
    
    <div class="atribuicoes">
      <div class="atribuicao">
        <h3>Na função de Desenvolvedor Frontend aqui na Rits, você vai:</h3>
        <ul>
          <li><i class="fas fa-check-circle"></i>Transformar layouts (XD e Photoshop) em montagens responsivas utilizando HTML + CSS + JS;</li>
          <li><i class="fas fa-check-circle"></i>Integrar montagem com APIs desenvolvidas por outras equipes;</li>
          <li><i class="fas fa-check-circle"></i>Manter e melhorar a base de código existente corrigindo bugs e refatorando código quando necessário.</li>
        </ul>
      </div>
      
      <div class="atribuicao">
        <h3>Procuramos alguém que:</h3>
        <ul>
          <li><i class="fas fa-check-circle"></i>Possua habilidades arquiteturais para desenvolvimento de software;</li>
          <li><i class="fas fa-check-circle"></i>Goste de trabalhar em equipe;</li>
          <li><i class="fas fa-check-circle"></i>Seja focado, proativo, tenha boa comunicação e relacionamento interpessoal;</li>
        </ul>
      </div>
      
      <div class="atribuicao">
        <h3>No dia a dia na Rits, você trabalhará também com:</h3>
        <ul>
          <li><i class="fas fa-check-circle"></i>WordPress e sistemas em PHP em geral;</li>
          <li><i class="fas fa-check-circle"></i>Webpack e Bootstrap;</li>
          <li><i class="fas fa-check-circle"></i>Frameworks javascript modernos (Vue 2, React).</li>
        </ul>
      </div>
      
    </div>
  </div>
  
</section>