@import '../../variables.scss';
form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

    margin-left: auto;
    margin-right: auto;

    width: 300px;
    
    h3 {
        margin-bottom: 25px;
        font-size: 24px;
        line-height: 110%;
        
        text-align: center;
        letter-spacing: -0.025em;
        
        color: $main-dark-color;
    }
    
    #file + label {
        border: 2px solid $main-green-color;
        border-radius: 30px;
        width: 358px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        font-weight: bold;
        color: $main-dark-color;
        margin-top: 15px;
        i {
            margin-right: 10px;
        }
    }

    .file-name {
        letter-spacing: -0.025px;
        margin-top: 5px;
        margin-bottom: 20px;
        margin-left: 15px;
        color: #555;

        span {
            font-weight: bolder;
        }
    }
    
    .submit-form-button {
        
        margin-top: 50px;
        height: 60px;
        width: 100%;
        
        cursor: pointer;
        
        border: none;
        border-radius: 30px;
        
        font-size: 20px;
        line-height: 24px;
        
        background-color: $main-green-color;
        color: $main-dark-color;
        font-weight: bold;
        
        transition: background-color 0.2s ease-in-out;
    }
    
    .submit-form-button:hover {
        background-color: darken($main-green-color, 25%);
    }
}


@media (min-width: 576px) {
    form {
        width: 400px;
    }
}


@media (min-width: 768px) {
    form {
        width: 560px;
    }
}