<section class="container">
    <form (submit)="validateAndSubmit($event)" #applicationForm>
        
        <h3>Informações pessoais</h3>
        
        <app-custom-input #nameInput required inputType="text" placeholderText="NOME COMPLETO" errorText="O nome informado é inválido"></app-custom-input>
        <app-custom-input #emailInput required inputType="email" placeholderText="E-MAIL" errorText="O email informado é inválido"></app-custom-input>
        <app-custom-input #phoneInput required inputType="tel" placeholderText="TELEFONE (COM DDD)" errorText="O telefone informado é inválido"></app-custom-input>
        
        <h3>Carta de apresentação</h3>
        <app-custom-input [shouldValidate]=false inputType="textarea" placeholderText="CONTE SUA MOTIVAÇÃO (opcional)"></app-custom-input>
        
        <h3>Últimas perguntas</h3>
        
        <app-custom-input #linedinInput placeholderText="URL DO SEU LINKEDIN" inputType="url" errorText="A URL informada é inválida"></app-custom-input>
        <app-custom-input #githubInput placeholderText="URL DO SEU GITHUB" inputType="url" errorText="A URL informada é inválida"></app-custom-input>
        
        <app-custom-input 
        #nivelInglesInput
        placeholderText="QUAL O SEU NÍVEL DE INGLÊS" 
        inputType="select" 
        [selectOptions]='["Escolha", "Nenhum", "Básico", "Intermediário", "Avançado", "Fluente", "Nativo"]'
        errorText="Selecione uma opção"
        >
    </app-custom-input>
    
    <app-custom-input #salarioInput placeholderText="PRETENSÃO SALARIAL" inputType="money" errorText="A quantia informada é inválida"></app-custom-input>
    
    <h3>Anexe seu currículo em PDF ou DOC</h3>
    <input type="file" name="file" id="file" class="file-input" accept=".doc, .docx, .pdf" (change)="resumeSubmitted($event)" />
    <label for="file"><i class="fas fa-paperclip"></i><span>Escolha o arquivo</span></label>
    <small *ngIf="resumeFile && !fileIsValid()" class="invalid-feedback">O arquivo selecionado é inválido: use extensões doc, docx ou pdf e um tamanho máximo de 10MB</small>
    
    <button type="submit" class="submit-form-button">ENVIAR</button>
    
</form>
</section>

