@import './app/views/variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: TT Norms, sans-serif;
}

input, button, textarea {
    outline: none;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

a.bt-btn {
    background-color: $main-green-color;
    padding: 12px 50px;
    border-radius: 20px;
    color: $main-dark-color;
    font-size: 12px;
    line-height: 12px;
}



@media (min-width: 1200px) {
    .container {
        width: 1136px;
    }
}