@import './app/views/variables.scss';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: TT Norms, sans-serif;
}

input, button, textarea, select {
    outline: none;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

a.bt-btn {
    background-color: $main-green-color;
    padding: 12px 50px;
    border-radius: 20px;
    color: $main-dark-color;
    font-size: 12px;
    line-height: 12px;
}

.invalid-feedback {
    color: red;
    font-weight: 600;
    letter-spacing: -0.025px;
    margin-top: -5px;
    margin-bottom: 20px;
    margin-left: 15px;
}

@media (min-width: 1200px) {
    .container {
        width: 1136px;
    }
}
